{% if vh['conn_timeout'] is defined and vh['conn_timeout']
  not in ['', [], '[]', None] %}
{{ ' --http.connTimeout=\'' + vh['conn_timeout'] + '\'' -}}
{% endif %}
{% if vh['disable_response_compression'] is defined and
  vh['disable_response_compression'] == 'true' %}
{{ ' --http.disableResponseCompression' -}}
{% endif %}
{% if vh['header_csp'] is defined and vh['header_csp']
  not in ['', [], '[]', None] %}
{{ ' --http.header.csp=\\\"' + vh['header_csp'] + '\\\"' -}}
{% endif %}
{% if vh['header_frame_options'] is defined and
  vh['header_frame_options'] not in ['', [], '[]', None] %}
{{ ' --http.header.frameOptions=\'' + vh['header_frame_options'] + '\'' -}}
{% endif %}
{% if vh['header_hsts'] is defined and vh['header_hsts']
  not in ['', [], '[]', None] %}
{{ ' --http.header.hsts=\\\"' + vh['header_hsts'] + '\\\"' -}}
{% endif %}
{% if vh['idle_conn_timeout'] is defined and
  vh['idle_conn_timeout'] not in ['', [], '[]', None] %}
{{ ' --http.idleConnTimeout=\'' + vh['idle_conn_timeout'] + '\'' -}}
{% endif %}
{% if vh['max_graceful_shutdown_duration'] is defined and
  vh['max_graceful_shutdown_duration'] not in ['', [], '[]', None] %}
{{ ' --http.maxGracefulShutdownDuration=\'' +
  vh['max_graceful_shutdown_duration'] + '\'' -}}
{% endif %}
{% if vh['path_prefix'] is defined and vh['path_prefix']
  not in ['', [], '[]', None] %}
{{ ' --http.pathPrefix=\'' + vh['path_prefix'] + '\'' -}}
{% endif %}
{% if vh['shutdown_delay'] is defined and vh['shutdown_delay']
  not in ['', [], '[]', None] %}
{{ ' --http.shutdownDelay=\'' + vh['shutdown_delay'] + '\'' -}}
{% endif %}
{% if vh['auth_password'] is defined and vh['auth_password']
  not in ['', [], '[]', None] %}
{{ ' --httpAuth.password=\'' + vh['auth_password'] + '\'' -}}
{% endif %}
{% if vh['auth_username'] is defined and vh['auth_username']
  not in ['', [], '[]', None] %}
{{ ' --httpAuth.username=\'' + vh['auth_username'] + '\'' -}}
{% endif %}
{% if vh['listen_addr'] is defined and vh['listen_addr']
  not in ['', [], '[]', None] %}
{% if vh['listen_addr'] is string %}
{{ ' --httpListenAddr=\'' + vh['listen_addr'] + '\'' -}}
{% elif vh['listen_addr'] is sequence %}
{% for vhl in vh['listen_addr'] %}
{{ ' --httpListenAddr=\'' + vhl + '\'' -}}
{% endfor %}
{% endif %}
{% endif %}
