{% if v['pprof_auth_key'] is defined and v['pprof_auth_key']
  not in ['', [], '[]', None] %}
{{ ' --pprofAuthKey=\'' + v['pprof_auth_key'] + '\'' -}}
{% endif %}
{% if v['prev_cache_removal_percent'] is defined and
  v['prev_cache_removal_percent'] not in ['', [], '[]', None] %}
{{ ' --prevCacheRemovalPercent=\'' + v['prev_cache_removal_percent'] + '\'' -}}
{% endif %}
