{% if v['vmstorage_dial_timeout'] is defined and
  v['vmstorage_dial_timeout'] != '' %}
{{ ' --vmstorageDialTimeout=\'' + v['vmstorage_dial_timeout'] + '\'' -}}
{% endif %}
{% if v['vmstorage_user_timeout'] is defined and
  v['vmstorage_user_timeout'] != '' %}
{{ ' --vmstorageUserTimeout=\'' + v['vmstorage_user_timeout'] + '\'' -}}
{% endif %}
